/* src/pages/user/UserProfile.css */
.user-profile {
    padding: 20px;
}

/* Media Queries for UserProfile */

/* Desktop and Larger Screens (1281px and up) */
@media (min-width: 1281px) {
    .user-profile {
        padding: 30px;
    }
}

/* Tablets and Below (1024px and below) */
@media (max-width: 1024px) {
    .user-profile {
        padding: 25px;
    }
}