/* src/components/AdminHeader.css */

.admin-header {
    background-color: #333;
    padding: 20px;
}

.admin-header nav {
    display: flex;
    justify-content: space-around;
}

.admin-header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.admin-header a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Media Queries for Responsiveness */

/* Desktop and Larger Screens (1281px and up) */
@media (min-width: 1281px) {
    .admin-header nav {
        justify-content: space-evenly;
    }
}

/* Tablets and Below (1024px and below) */
@media (max-width: 1024px) {
    .admin-header nav {
        flex-direction: column;
        align-items: center;
    }

    .admin-header a {
        padding: 10px 15px;
    }
}

/* Smartphones (Portrait 320px to 480px) */
@media (min-width: 320px) and (max-width: 480px) {
    .admin-header nav {
        flex-direction: column;
    }

    .admin-header a {
        padding: 8px 12px;
    }
}