.cart-details {
    display:flex;
    height:500px;
    width: 500px;
    border:2px solid green;
    background-color: red;
    justify-content: center;
}


.cart-products {
    height:inherit;
    width: 200px;
    background-color: green;
}

.cart-product-detail {
    height:200px;
    width:inherit;
    background-color: purple;
    border:2px solid aqua;
}